*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

div.board{
    height: 30vh;
    width: 30vh;
    border: 10px solid black;
    margin-top: calc(100vh/2 - 30vh/2);
    margin-left: calc(100vw/2 - 30vh/2);
    font-size: 0;


}

h1{
    text-align: center;
    margin-top: 20px;
}

span{
    display: inline-block;
    height: 50%;
    width: 50%;
    

}
span:nth-child(1){
    background-color: red;
}
span:nth-child(4){
    background-color: red;
}