* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    max-width: 200px;
}



span {
    position: relative;
    top: 80px;
    left: 80px;
    display: inline-block;
    padding: 20px;
    background-color: rgb(200, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
}

.roof {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0px;
    width: 0px;
    transform: rotate(0);
    background-color: black;
    transition: 1s;

}

span:hover~.roof {
    top: calc(50% - 15vh);
    left: 50%;

    height: calc(50vh / 1.41);
    width: calc(50vh / 1.41);
    transform: translate(-50%, -50%) rotate(45deg);

}


.chimney {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0px;
    width: 0px;

    background-color: grey;
    transition: 1s;
    z-index: -1;
}

span:hover~.chimney {
    top: 20%;
    left: 57%;

    height: 20vh;
    width: 5vh;

}

.wall {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0px;
    width: 0px;

    background-color: brown;
    transition: 1s;
}

span:hover~.wall {
    top: 50%;
    left: 50%;

    height: 30vh;
    width: 50vh;
    transform: translate(-50%, -50%);

}

.wLeft,
.wRight {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0px;
    width: 0px;

    background-color: skyblue;
    transition: 1s;
}

span:hover~.wLeft {
    top: 40%;
    left: 40%;

    height: 10vh;
    width: 10vh;

}

span:hover~.wRight {
    top: 40%;
    left: 55%;

    height: 10vh;
    width: 10vh;

}

.door {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;

    background-color: #964b00;
    transition: 1s;
}

span:hover~.door {
    top: 50%;
    left: calc(50% - 4.5vh);

    height: 15vh;
    width: 9vh;

}